@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&family=Nunito+Sans:opsz,wght@6..12,200&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
}


.title_container
{
  background: linear-gradient(#5151c5, #8088e4);
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.topnavbar li 
{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;

}

.topnavbar
{
    margin-left: -100px;
}

/* .logo Might Need For Later.
{
    background-image: url("Assets/pn_sqr_dark.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    display: flex;
} */

.topnavbar a 
{
    font-size: 18px;
    color: #c0c0c0;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    /* transition: color 0.3s, border-bottom 0.3s; */
}

.topnavbar a::before 
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.topnavbar a:hover 
{
    color: rgb(255, 255, 255);
}

.topnavbar a:hover::before 
{
    transform-origin: left;
    transform: scaleX(1);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    background: rgba(31, 18, 75, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid rgba(31, 18, 75, 0.44);

}

.intro 
{
    color:aliceblue;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-family: 'Inter', sans-serif;
    z-index: 1000;
}

.intro b 
{
    float: left;
    overflow: hidden;
    position: relative;
    height: 108px;
    top: 40px;
    /* z-index: 1000; */
}
.intro .innerhell 
{
    display: flex;
    color: aliceblue;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 100;
    animation:move 5s;
    animation-iteration-count: finite;
    animation-delay:1s;
    /* z-index: 1000; */
}
@keyframes move
{
    0%  { top: 0%; }
    20% { top: -135%; }
    40% { top: -255%; }
    60% { top: -370%; }
    80% { top: -480%; }
}

.intro_context
{
    color:aliceblue;
    font-size: 200%;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5%;
    z-index: 1000;
}

.intro2
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 2%;
    z-index: 1000;
}

.intro2_context
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    text-justify: inter-word;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
    z-index: 1000;
}

.intro2_context2
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    text-justify: inter-word;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
    z-index: 1000;
}

.mainname
{
    color:aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: .1%;
    font-size: 300%;
    z-index: 1000px;
}

c 
{
    background: linear-gradient(0deg, aliceblue, aliceblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 800ms;
    --bg-h: 110%;
    color: aliceblue;
    /* z-index: 10; */
}
c:where(:hover, :focus-visible) 
{
    background-size: 110% var(--bg-h);
    background-position-x: left;
    color: #8088e4;

}


.waving
{
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}
.waving-hand 
{
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 275% 275%;
    display: inline-block;
    margin-right: 35px;
    font-size: 400%;
    z-index: 1000;
}
@keyframes wave 
{
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.title_container .cube {
    position: absolute;
    overflow: hidden;
    top: 75vh;
    left: 5vw;
    width: 20px;
    height: 20px;
    border: solid 1px #3e3e92;
    border-radius: 4px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
    animation-delay: 4s;

  }
  .cube:nth-child(2n) {
    border-color: #323250;
    animation-delay: 7s;

  }
  .cube:nth-child(2) {
    animation-delay: 19s;
    left: 25vw;
    top: 34vh;
    overflow: hidden;
  }
  .cube:nth-child(3) {
    /* -webkit-animation-delay: 4s; */
    animation-delay: 9s;
    left: 75vw;
    top: 66vh;
  }
  .cube:nth-child(4) {
    /* -webkit-animation-delay: 6s; */
    animation-delay: 6s;
    left: 90vw;
    top: 45vh;
    overflow: hidden;

  }
  .cube:nth-child(5) {
    /* -webkit-animation-delay: 8s; */
    animation-delay: 11s;
    left: 13vw;
    top: 47vh;
    overflow: hidden;
  }
  .cube:nth-child(6) {
    /* -webkit-animation-delay: 10s; */
    animation-delay: 14s;
    left: 50vw;
    top: 10vh;
    overflow: hidden;
  }

  .cube:nth-child(7) {
    animation-delay: 0.5ms;
    left: 49vw;
    top: 50vh;
    overflow: hidden;
    border-color: #f5f7fa;
  }
  
  
  @-webkit-keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  .aboutme
{
  background-color: #e0e0e0;
  background-image: linear-gradient(180deg, #e5dbf3 0%, #f5f7fa 30%);
  width: 100%;
  height: auto;
  padding-bottom: 1%;
  z-index: 2;
}

.label2
{
  color: #6262d3;
  font-size:60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-family: 'Inter', sans-serif;
}

.aboutme_context2
{
  color: #8088e4;
  font-size: 150%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
}

.label 
{
  color: #6262d3;
  font-size: 55px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-family: 'Inter', sans-serif;
}

.aboutme_context
{
  color: #8088e4;
  font-size: 160%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
}

.mypic
{
  justify-content: center;
  align-items: center;
  text-justify: inter-word;
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
  z-index: 1000;
}

.picme
{
  width: 20%;
  height: auto;
  z-index: 100;
}

.techno
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f5f7fa;
  padding-bottom: 1%;
}

.skills_n_technology
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f5f7fa;
  padding-top: 10%;
}

.innertech 
{
  min-height: 50vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.innertech .box
{
  position: relative;
  width: 225px;
  height: 225px;
  margin-left: 2%;
  transition: 0.5s;
}

.innertech .box img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.innertech:hover > :not(:hover)
{
  margin: 10px 10px;
  filter: blur(4px);
  transform: perspective(300px) scale(0.95);
}

.innertech .box:hover ~ .box 
{
  /* margin: 10px -10px; */
  filter: blur(4px);
  transform: perspective(300px) scale(.95);
}
.innertech .box:hover
{
  transform: perspective(450px) scale(1.5);
  z-index: 1000;
}

.proj_header
{
  background-color: #f5f7fa;
}

.label3 
{
  color: #6262d3;
  font-size:60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-family: 'Inter', sans-serif;
}

.aboutme_context3
{
  color: #8088e4;
  font-size: 150%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
}


/* Project Shid */
.projects
{
  background-image: linear-gradient(360deg, #c4bfda 0%, #f5f7fa 30%);
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  grid-template-columns: repeat(2,1fr);
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  /* font-weight: bold; */
  color: #262683;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #5151c5;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n-1)
{
  background-image: url("./assets/images/Browser_1-1.png");
  background-size: cover;
}
.ag-courses_item:nth-child(2n)
{
  background-image: url("./assets/images/Browser_PH.png");
  background-size: cover;
}

.ag-courses_item:nth-child(3n)
{
  background-image: url("./assets/images/Browser_PH.png");
  background-size: cover;
}

.ag-courses_item:nth-child(4n)
{
  background-image: url("./assets/images/Browser_PH.png");
  background-size: cover;
}
/* .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
} */



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.contactme
{
  background: linear-gradient(#8088e4,#5151c5);
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.label4
{
  color: #f5f7fa;
  font-size:60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  font-family: 'Inter', sans-serif;
  z-index: 100;
}

.aboutme_context4
{
  color: #f5f7fa;
  font-size: 130%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2%;
  /* margin-left: 20%;
  margin-right: 20%; */
}

.links
{
  /* display: inline-block; */
  color: #f5f7fa;
  font-size: 150%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top:40px;
  gap: 20px;
  text-decoration: none;
}

.linkdesc 
{
  margin-top: -.8%;
}

.link_text a
{
 text-decoration: none;
 color: inherit;
}

.hober {
	color: #f5f7fa;
  position: relative;
  text-decoration: none;
}

.hober::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #f5f7fa;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hober:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.copyR
{
  background-color: #5151c5;
  color: #f5f7fa;
  font-size: 100%;
  display: flex;
  text-justify: inter-word;
  text-align: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  padding-bottom: .5%;
}

html 
{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .9em;
  background: transparent
}


::-webkit-scrollbar-track 
{
  background: #f5f7fa; 
  margin-block: .7em;
  border-radius: 100vw;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
 

::-webkit-scrollbar-thumb 
{
  border: .2em solid #f5f7fa;
  background-color:#5151c5;
  border-radius: 100vw;
}

