@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Inter:wght@100;500&family=Nunito+Sans:opsz,wght@6..12,200&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
}


.title_container
{
  background: linear-gradient(#5151c5, #8088e4);
    width: 100%;
    height: 950px;
    /* background: repeating-linear-gradient(
        90deg,
        #9D44C0,
        #9D44C0 5%,
        #EC53B0 5%,
        #EC53B0 10%
    );
    animation: move-it 90s linear infinite;
    background-size: 1900px 1900px; */

    /* @keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 1900px 0px;
    }
  } */
}

.topnavbar li 
{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;

}

.topnavbar
{
    margin-left: -100px;
}

.logo
{
    background-image: url("Assets/pn_sqr_dark.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    display: flex;
}

.topnavbar a 
{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    /* transition: color 0.3s, border-bottom 0.3s; */
}

.topnavbar a::before 
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

/* .topnavbar a:hover 
{
    color: var(--light-blue);
} */

.topnavbar a:hover::before 
{
    transform-origin: left;
    transform: scaleX(1);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(31, 18, 75, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid rgba(31, 18, 75, 0.44);

}

.projects
{
    background-color: #f3ecff;
    width: 100%;
    height: 1252px;
}

/* .intro
{
    color:aliceblue;
    font-size: 100px;
    display: flex;
    justify-content: center;
    padding-top: 18%;
    font-family: 'Inter', sans-serif;
} */

.intro 
{
    color:aliceblue;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    /* margin-left: 2%; */
    font-family: 'Inter', sans-serif;
    z-index: 2;
}

.intro b 
{
    float: left;
    overflow: hidden;
    position: relative;
    height: 108px;
    top: 40px;
}
.intro .innerhell 
{
    display: flex;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: finite;
     -moz-animation-iteration-count: finite;
      -ms-animation-iteration-count: finite;
       -o-animation-iteration-count: finite;
          animation-iteration-count: finite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
}
@keyframes move
{
    0%  { top: 0%; }
    20% { top: -135%; }
    40% { top: -255%; }
    60% { top: -370%; }
    80% { top: -480%; }
}

.intro_context
{
    color:aliceblue;
    font-size: 200%;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5%;
}

.intro2
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
}

.intro2_context
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
}

.intro2_context2
{
    color:aliceblue;
    font-size: 160%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
}

.mainname
{
    color:aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: .1%;
    font-size: 300%;
}

c 
{
    background: linear-gradient(0deg, aliceblue, aliceblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 800ms;
    --bg-h: 110%;
    color: aliceblue;
}
c:where(:hover, :focus-visible) 
{
    background-size: 110% var(--bg-h);
    background-position-x: left;
    color: #8088e4;
}


.waving
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waving-hand 
{
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 275% 275%;
    display: inline-block;
    margin-right: 35px;
    font-size: 400%;

}
@keyframes wave 
{
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.title_container .cube {
    position: absolute;
    overflow: hidden;
    top: 75vh;
    left: 5vw;
    width: 20px;
    height: 20px;
    border: solid 1px #3e3e92;
    border-radius: 4px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
     animation: cube 12s ease-in forwards infinite;
     z-index: 1;
  }
  .cube:nth-child(2n) {
    border-color: #323250;
  }
  .cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 34vh;
    overflow: hidden;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 66vh;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 45vh;
    overflow: hidden;

  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 13vw;
    top: 47vh;
    overflow: hidden;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
    overflow: hidden;
  }

  .cube:nth-child(7) {
    -webkit-animation-delay: 5s;
    animation-delay: 7s;
    left: 55vw;
    top: 9vh;
    overflow: hidden;
  }
  
  
  @-webkit-keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

